@using CustomerFeedback.Models
@model IEnumerable<Import>
@{
    ViewData["Title"] = "Import Survey CSV";
}

<h1>Import Survey CSV</h1>
<form asp-controller="Imports" asp-action="Index" method="post" enctype="multipart/form-data">

  <div class="card-group my-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">First</h5>
        <p class="card-text">Select your Survey Results *.csv file.</p>
      </div>
        <div class="card-footer border-light">
        <input type="file" name="file" class="form-control btn-outline-primary ">
    </div>
  </div>
    <div class="card">
      <div class="card-body">
      <h5 class="card-title">Second</h5>
      <p class="card-text">Upload your file for saving to the Customer Feedback repository.</p>    
      </div>
      <div class="card-footer border-light">
      <button type = "submit" class="btn btn-primary">Import your survey</button>
      </div>
    </div>
  </div>

</form>

@if ( Model?.Count() > 0 )
{
  <div class="card my-5">
    <div class="card-header">
      CSV Import Results
    </div>
    <div class="card-body">
      <div class="alert alert-info" role="alert">
        Here's what we pulled in from your CSV file: 
      </div>
      

      <div class="table-responsive">
      <table class="table table-sm table-striped" style= "width: 100%">
        <thead>
          <tr>
            <th>Respondent ID</th>
            <th>Collector ID</th>
            <th>Email</th>
            <th>Title</th>
            <th>Location</th>
            <th>A1</th>
            <th>A2</th>
            <th>A3</th>
          </tr>
        </thead>
        <tbody>
        @foreach (Import import in Model)
        {
          <tr>
            <td>@import.RespondentID</td>
            <td>@import.CollectorID</td>
            <td>@import.EmailAddress</td>
            <td>@import.Title</td>
            <td>@import.Location</td>
            <td>@import.QuestionResponse1</td>
            <td>@import.QuestionResponse2</td>
            <td>@import.QuestionResponse3</td>
          </tr>
        }
        </tbody>
      </table>
      </div>

    </div>
    <div class="card-footer">

      <p class="text-muted display-6">Does it look correct? </p>
      <p><strong class="text-danger">If not:</strong> Cancel this transaction, fix your your file, try uploading again.</p>
      <p><strong class="text-success">If yes:</strong> Create records to save this data to the Customer Feedback repository.</p>

      <div class="form-group">
        <form asp-controller="Imports" asp-action="Create" method="post">
          <a asp-action="Index" class="btn btn-labeled btn-danger my-3">Cancel</a> | 
          <input type="submit" value="Create" class="btn btn-success my-3" />
        </form>
      </div>         
    </div>
  </div>


}
@if ( Model?.Count() < 1 )
{
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>No Data to Display</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}