@model CustomerFeedback.Models.SurveyResponse

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Survey Response</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyResponseIteration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurveyResponseIteration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Survey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Survey.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contact.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-labeled btn-secondary my-3"><span class="btn-label me-3"><i class="fa fa-chevron-left"></i></span>Back to List</a> | 
    <a asp-action="Edit" asp-route-id="@Model?.Id"  class="btn btn-labeled btn-primary my-3">Edit</a>
</div>
