@model IEnumerable<CustomerFeedback.Models.SurveyResponse>

@{
    ViewData["Title"] = "Survey Responses";
    string tableNav = "Actions";
}

<h1>Survey Responses</h1>

<a asp-action="Create" class="btn btn-success my-2">Create New</a>
@*<div class="row justify-content-between">
  <div class="col-3">
    <a asp-action="Create" class="btn btn-success my-2">Create New</a>
  </div>
  <div class="col-sm-auto">
    <form asp-controller="SurveysResponses" asp-action="Index" method="get">
      <div class="row">
        <div class="col">
          <select asp-for="SurveyResponseCustomer" asp-items="Model.Customers" class="form-control my-2">
            <option value="">All Customers</option>
          </select>
        </div>
        <div class="col">
          <input type="text" name="SearchString" class="form-control my-2" placeholder="Search Survey Title" />
        </div>
        <div class="col-2">
            <input type ="submit" value="Filter" class="btn btn-secondary my-2"/>
        </div>
      </div>
    </form>
  </div>
</div>*@
<table class="table table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Answer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SurveyResponseIteration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Survey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact.NameFull)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayName(tableNav)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Answer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurveyResponseIteration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Survey.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact.NameFull)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question.Id)
            </td>
            <td>
              <div class="row justify-content-between">
                <div class="col text-nowrap">
                  <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary" title="Edit">
                    <i class="fas fa-pencil-alt text-light"></i>
                  </a> |
                  <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info" title="Details">
                    <i class="fas fa-list-ul text-light"></i>
                  </a> |
                  <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger" title="Delete">
                    <i class="fas fa-trash-alt text-light"></i>
                  </a> 
                </div>
              </div>
            </td>
        </tr>
}
    </tbody>
</table>
