@model IEnumerable<CustomerFeedback.Models.Administrator>

@{
  ViewData["Title"] = "Administrators";
  string tableNav = "Actions";
}

<h1>Administrators</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmpId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameFirst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameLast)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayName(tableNav)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameFirst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameLast)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
              <div class="row justify-content-between">
                <div class="col text-nowrap">
                  <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary" title="Edit">
                    <i class="fas fa-pencil-alt text-light"></i>
                  </a> |
                  <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info" title="Details">
                    <i class="fas fa-list-ul text-light"></i>
                  </a> |
                  <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" title="Delete">
                    <i class="fas fa-trash-alt text-light"></i>
                  </a> 
                </div>
              </div>
            </td>
        </tr>
}
    </tbody>
</table>
