@model IEnumerable<CustomerFeedback.Models.Survey>

@{
    ViewData["Title"] = "Surveys";
}

<h1>Surveys</h1>



@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<div class="row justify-content-between">
  <div class="col-3">
    <a asp-action="Create" class="btn btn-success my-2">Create New</a>
  </div>
  <div class="col-sm-auto">
    <form asp-controller="Surveys" asp-action="Index" method="get">
      <div class="row">
        <div class="col">
@*          <select asp-for="SurveyContact" asp-items="Model?.Contacts" class="form-control my-2">
            <option value="">All Departments</option>
          </select>*@
        </div>
        <div class="col">
          <input type="text" name="SearchString" class="form-control my-2" placeholder="Search Survey Title" />
        </div>
        <div class="col-2">
            <input type ="submit" value="Filter" class="btn btn-secondary my-2"/>
        </div>
      </div>
    </form>
  </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpireDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdministratorId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpireDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdministratorId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
